/* CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Rambla|Roboto');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
html {

}
body {

}
/* Responsive navigation */
header {
    position: relative;
    background-color: #010101;
    overflow: hidden;
    min-width: 21.875em;
}

.logo {
    float: left;
    margin: .80em 0 .80em .80em;
}

#menu-toggle {
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    padding: .75em;
}

nav ul {
    clear: left;
    list-style-type: none;
    color: white;
    padding-left: 0;
    margin-bottom: 0;
}

#toggled {
    display: none;
}

nav li {
    padding: 1em 0 1em 1.4em;
    margin-right: 3em;
}
nav li a {
    text-decoration: none;
    color: #fff;
}
nav li:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid #0984e3;
}
nav li a:hover {
    color: #fff;
    text-decoration: none;
}

.active {
    border-bottom: 4px solid #6c5ce7;
}
.container-fluid {
    background-color: #111111;
    color: #fff;
}

/* Standard button layout */
.blueBtn {
    color: #fff;
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    background-color: #0984e3;
    border: none;
    border-bottom: 5px solid #095d9e;
    padding: 10px;
    width: 167px;
    box-shadow: 2px 2px 6px #000;
}

/* Index banner */
.banner {
    text-align: center;
    color: #fff;
    height: 400px;
    background-image: url('../img/banner_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.banner h1, h5 {
    margin: 0;
    text-shadow: 2px 2px 6px #000;
    text-align: center;
}
.banner a, .banner a:hover {
    color: #fff;
}


/* Index three columns info boxes with icons */
.fa-share-alt {
    color: #3498db;
}
.fa-lightbulb {
    color: #9b59b6;
}
.fa-cloud-download-alt {
    color: #e67e22;
}

/* Footer layout */


/* Media queries for tablets and phones etc */
@media screen and (min-width: 45.25em) {
    #menu-toggle {
        display: none;
    }
    nav {
        float: right;
    }
    ul {
        display: block !important;
    }
    li {
        float: left;
        padding: 1em;
        border-top: none;
    }

}
