/* CSS reset */
html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}body,h1,h2,h3,h4,h5,h6,p,ul{margin:0;padding:0}

/* Fonts (Roboto, Rambla) */
@import url('https://fonts.googleapis.com/css?family=Rambla:700|Roboto');

main {
    background-color: #111111;
    color: #fff;
}

/* Responsive navigation */
header {
    position: relative;
    background-color: #010101;
    overflow: hidden;
    min-width: 21.875em;
}

.logo {
    float: left;
    margin: .80em 0 .80em .80em;
}

#menu-toggle {
    display: block;
    float: right;
    color: white;
    text-decoration: none;
    padding: .75em;
}

ul {
    clear: left;
    list-style-type: none;
    color: white;
    padding-left: 0;
    margin-bottom: 0;
}

#toggled {
    display: none;
}

li {
    padding: 1em 0 1em 1.4em;
    margin-right: 3em;
}
li a {
    text-decoration: none;
    color: #fff;
}
li:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 4px solid #0984e3;
}
li a:hover {
    color: #fff;
    text-decoration: none;
}

.active {
    border-bottom: 4px solid #6c5ce7;
}

/* Banners layout */
.banner h1, .banner p {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}
.banner h1, .subpage-banner h1 {
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
}
.banner p, .subpage-banner p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.banner button {
    color: #fff;
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    background-color: #0984e3;
    border: none;
    border-bottom: 5px solid #095d9e;
    padding: 10px;
    width: 167px;
    height: 45px;
    box-shadow: 2px 2px 6px #000;
}
.banner button:hover {
    background-color: #095d9e;
}

.banner {
    color: white;
    background: url('../img/banner_bg.jpg') top   left/cover no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.subpage-banner {
    color: white;
    background: url('../img/banner_bg.jpg') top   left/cover no-repeat;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

/* 2 and 3 column grids displaying the purpose of the website */
.threeC-grid {
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
}
.threeC-grid i {
    margin-bottom: 30px;
}
.twoC-grid {
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.fa-share-alt {
    color: #0984e3;
}
.fa-lightbulb {
    color: #fbc531;
}
.fa-cloud-download-alt {
    color: #e84118;
}
.register {
    margin-bottom: 100px;
}

/* Standard button style used */
.blueBtn {
    color: #fff;
    font-family: 'Rambla', sans-serif;
    font-weight: bold;
    background-color: #0984e3;
    border: none;
    border-bottom: 5px solid #095d9e;
    padding: 10px;
    width: 167px;
    box-shadow: 2px 2px 6px #000;
}
.register button:hover {
    background-color: #095d9e;
}

/* Public community projects */
.card {
    color: #000;
}
.card-text {
    height: auto;
}

footer {
    background-color: #030303;
    color: #fff;
}

/* Media queries for tablets and phones etc */
@media screen and (min-width: 45.25em) {
    #menu-toggle {
        display: none;
    }
    nav {
        float: right;
    }
    ul {
        display: block !important;
    }
    li {
        float: left;
        padding: 1em;
        border-top: none;
    }

}
